body{
    background: lavender;
    background-color: lavender;
    font-family: 'Caveat', cursive;
    font-family: 'Comic Neue', cursive;
}

#colored-box{
    background: #FFFFFF;
    margin-top: -7.5px;
    margin-left: -7.5px;
    margin-right: -7.5px;
    border-bottom: black; 
    border-bottom-width: 5px;
}